.container{
  text-align: center;
}
#calculator{
  border: 1px solid rgb(165, 163, 163);
  width: 200px;
  border-radius: 5px;
}
#display {
  margin: 10px;
  width: 85%;
  font-size: 25px;
}
.button-container{
  display: flex;
justify-content: center;
flex-wrap: wrap;
}
.button {
  width: 45px;
  height: 45px;
  margin: 3px;
}